<dl id="menu0">
    <dt>Kurs</dt>
    <dd>
        <dl>
            <dt><a href="...">HTML</a></dt>
            <dd>
                <dl>
                    <dt><a href="...">Dla zielonych</a></dt>
                    <dd><a href="...">...</a></dd>
                    <dd><a href="...">...</a></dd>
                </dl>
            </dd>
            <dd>
                <dl>
                    <dt><a href="...">BODY i META</a></dt>
                    <dd><a href="...">...</a></dd>
                    <dd><a href="...">...</a></dd>
                </dl>
            </dd>
            <dd>
                <dl>
                    <dt><a href="...">Tekst</a></dt>
                    <dd><a href="...">...</a></dd>
                    <dd><a href="...">...</a></dd>
                </dl>
            </dd>
        </dl>
    </dd>
    <dd>
        <dl>
            <dt><a href="...">CSS</a></dt>
            <dd><a href="...">...</a></dd>
            <dd><a href="...">...</a></dd>
        </dl>
    </dd>
</dl>
<script type="text/javascript">
// <![CDATA[
new Menu('menu0', 'menu0', true, false, 0, 0, -1, -1, true);
// ]]>
</script>