@model SchoolCMS.ViewModels.MainPage

@{
    ViewBag.Title = "Home Page";
}

@{
    <ul>
        @foreach (var news in @Model.ShortContentDict)
        {
            <li>
                @news.Value
                @Html.ActionLink("Czytaj więcej", "NewsDetails", "News", new {newsId = news.Key.Id}, null)
            </li>
        }
    </ul>
}