@model SchoolCMS.ViewModels.MainPage

@{
    ViewBag.Title = "Home Page";
}

@{
    <ul>
        @foreach (var news in @Model.newsList)
        {
        <li>
            @news.Content.Substring(0, 100);
            @Html.ActionLink("Czytaj więcej","NewsDetails","News",new {newsId = news.Id},null)
        </li>
        }
    </ul>
}