@model SchoolCMS.Models.Tag

@{
    ViewBag.Title = "Szczegóły tagu";
}

<h2>Szczegoły</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Powrót do listy", "List")
</p>
